<a href="/" style="text-decoration: none; color: black;">Home</a> > About
<div class="container">
<h2>About Me</h2>
<img src="/img/azril.png" alt="" style="max-width: 150px;">
<br>
<br>
<p>Halo, namaku adalah <b><%- nama %></b>, panggil aku <b><%- panggilan %></b>. Aku berasal dari SMK Prakarya
    Internasional, Aku tinggal di <%- tempat %> Hobiku adalah Bermotor, Memasak, Bermain Sepak Bola, Berolahraga, dan
        Bermain Game. </p>
    </div>