<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js server</title>
</head>
<body>
    <a href="/" style="text-decoration: none; color: black;">Menu</a> > Contact

    <h1>Contact Page</h1>
    <ul>
        <% contacts.forEach(contact => { %>
            <li><strong>Name:</strong> <%= contact.name %> | <strong>Email:</strong> <%= contact.email %></li>
        <% }) %>
    </ul>
</body>
</html>