<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Server</title>
</head>
<body>
    <h1>Menu</h1>
    <a href="/about" style="text-decoration: none; color: black;">- About</a>
    <br>
    <a href="/contact" style="text-decoration: none; color: black;">- Contact</a>
    <br>
    <a href="/product/1?category=shoes" style="text-decoration: none; color: black;">- Shoes</a>
    <br>
    <a href="/product/2?category=clothes" style="text-decoration: none; color: black;">- Clothes</a>
    <br>
    
    <h2>Web Server Node JS</h2>
    <p>Welcome to page <%= nama %></p>
</body>
</html>