html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

.content {
  flex: 1; /* This allows the content to expand and take available space */
  padding: 1rem;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 20px 0;
}

.page-item {
  margin: 0 2px;
}

.page-link {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.page-link {
  color: #007bff;
  border: 1px solid #ddd;
}

.page-link:hover {
  color: #0056b3;
  background-color: #e9ecef;
  border-color: #ddd;
}

